:root {
  --bgDefault: rgb(224, 224, 224);
  --bgDefaultFocus: rgb(174, 174, 174);
  --bgOutline: transparent;
  --bgOutlineFocus: rgba(41, 98, 255, 0.102);
  --bgText: transparent;
  --bgTextFocus: rgba(41, 98, 255, 0.102);
  --bgPrimary: rgb(41, 98, 255);
  --bgPrimaryFocus: rgb(0, 57, 203);

  --textDark: rgb(51, 51, 51);
  --textPrimary: rgb(255, 255, 255);
  --textLight: hsl(0, 0%, 51%);
  --text: rgb(61, 90, 254);
  --textDefault: rgb(63, 63, 63);
  --textDisabled: rgb(158, 158, 158);

  --shadowDefault: 0px 2px 3px rgba(51, 51, 51, 0.2);
  --shadowBlue: 0px 2px 3px rgba(0, 49, 202, 0.2);
}

.App {
  text-align: center;
  display: flex;
  box-sizing: border-box;
}

.App > * {
  box-sizing: border-box;
}
