:root {
  --bgDefault: #e0e0e0;
  --bgDefaultFocus: #aeaeae;
  --bgOutline: transparent;
  --bgOutlineFocus: rgba(41, 98, 255, 0.102);
  --bgText: transparent;
  --bgTextFocus: rgba(41, 98, 255, 0.102);
  --bgPrimary: #2962ff;
  --bgPrimaryFocus: #0039cb;

  --textDark: #333333;
  --textWhite: #ffffff;
  --textLight: #828282;
  --textBlue: #3d5afe;
  --textDefault: #3f3f3f;

  --shadowDefault: 0px 2px 3px rgba(51, 51, 51, 0.2);
  --shadowBlue: 0px 2px 3px rgba(0, 49, 202, 0.2);
}

.App {
  text-align: center;
  display: flex;
  box-sizing: border-box;
}

.App > * {
  box-sizing: border-box;
}
