:root {
  --bgDefault: rgb(224, 224, 224);
  --bgDefaultFocus: rgb(173, 173, 173);
  --bgOutline: transparent;
  --bgOutlineFocus: rgba(41, 98, 255, 0.102);
  --bgText: transparent;
  --bgTextFocus: rgba(41, 98, 255, 0.102);
  --bgPrimary: rgb(41, 98, 255);
  --bgPrimaryFocus: rgb(0, 57, 203);
  --bgSecondary: #455a64;
  --bgSecondaryFocus: #1c313a;
  --bgDanger: #d32f2f;
  --bgDangerFocus: #9a0007;

  --textDark: rgb(51, 51, 51);
  --textPrimary: rgb(255, 255, 255);
  --textSecondary: rgb(255, 255, 255);
  --textDanger: rgb(255, 255, 255);
  --textLight: rgb(130, 130, 130);
  --text: rgb(61, 90, 254);
  --textDefault: rgb(63, 63, 63);
  --textDisabled: rgb(158, 158, 158);

  --shadowDefault: 0px 2px 3px rgba(51, 51, 51, 0.2);
  --shadowBlue: 0px 2px 3px rgba(0, 49, 202, 0.2);

  --mdPadding: 0.8rem 1.6rem;
  --smPadding: 0.6rem 1.2rem;
  --lgPadding: 1.1rem 2.2rem;
}

.App {
  text-align: center;
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  width: 100vw;
  overflow-x: hidden;
  flex: 0;
}

.App > * {
  box-sizing: border-box;
}
